

<style>
.myDiv {
  border: 1px outset red;
  background-color: lightblue;
  text-align: left;
  margin: 10x;
  width: 20;
  height: 20;
}

.Box_contents {
  font-size: 11px;
  text-align: center;
  margin-top: 4px;
}

.input_form {
  border: 1px outset red;
  background-color: lightblue;
  display: inline-block;
  width: 200px;
  margin-bottom: 3px;
  margin-right: -4px;
}

.input_box {
  position: relative;left: 2px;
}
</style>


<h1>Dashboard</h1>

<p>Hallo {{ request.user.member }} 👋</p>

<p>Du bist erfolgreich eingeloggt.</p>

<form action="{% url 'logout' %}" method="post">
  {% csrf_token %}
  <button type="submit">Logout</button>
</form >

<div class="input_form">
<form action="{% url 'dashboard' %}" method="post">
  {%csrf_token%}

  <div class="input_box">
  <label for="category_name">neue Kategorie:</label><br>

  <input type="text" required name="category_name" placeholder="Name der Kategorie" maxlength="25" pattern="[A-Za-z ]+"><br> <!--input box send category to server-->
  <input type="text" required name="monthly_amount" placeholder="monatliche Einzahlung in €" maxlength="13" pattern="[0-9.-]+"><br> <!--input box send monthly_amount to server-->
  <input type="text"  name="comment" placeholder="Kommentar" maxlength="50" pattern="[A-Za-z0-9!? ]+"><br> <!--input box send comment to server-->
    <button type="submit" name="id_of_user" value={{ request.user.member.id }}>Submit</button>
  </div>

</form>
</div>


<div class="input_form">
</form>
<form action="{% url 'dashboard' %}" method="get">
  {%csrf_token%}

  <div class="input_box">
  <label for="category_name">neue Einzahlung:</label><br>

  <input type="text" name="category_name_new" placeholder="Name der Kategorie" pattern="[A-Za-z ]+"><br>
  <input type="text" name="monthly_amount_new" placeholder="Einzahlung in € (+/-)" pattern="[0-9.-]+"><br>
  <input type="text" name="comment_change" placeholder="Kommentar" pattern="[A-Za-z0-9!?]+"><br>

  <input type="submit" value="Submit"> <!--submit button-->
  </div>

</form>
</div>


{%if attributes == "false" %}
  <script>alert("Name der Kategorie und monatliche Einzahlungen müssen ausgefüllt werden")</script>
{% elif false_var == "category_string_to_long" %}
  <script>alert("der Name der Kategorie ist zu lang maximal 25 Zeichen")</script>
{% else %}

<div style="display: flex">

  <div>

    <div class="myDiv" style="width:200px">
    <p class="Box_contents">Kategorie</p>
    </div>

    {%for x in attributes %}
    <div class="myDiv" style="width:200px; display: flex">
    <a href=/dashboard/change_data/?category={{x.category}}>{{x.category}}</a>
    </div>
    {% endfor %}

  </div>

  <div>

    <div class="myDiv" style="width:200px">
    <p class="Box_contents">Einzahlungsrate pro Monat (aktuell)</p>
    </div>

    {%for x in attributes %}
    <div class="myDiv" style="width:200px">
    <p class="Box_contents">{{x.monthly_amount_value}}€</p>
    </div>
    {% endfor %}

  </div>

  <div>

    <div class="myDiv" style="width:200px">
    <p class="Box_contents">Monate seit denen eingezahlt wird</p>
    </div>

    {%for x in attributes %}
    <div class="myDiv" style="width:200px">
    <p class="Box_contents">{{x.How_many_months_have_passed_since_the_category_was_created}}</p>
    </div>
    {% endfor %}
  </div>

  <div>

    <div class="myDiv" style="width:200px">
    <p class="Box_contents">eingezahlte Monatsraten</p>
    </div>

    {%for x in attributes %}
    <div class="myDiv" style="width:200px">
    <p class="Box_contents">{{x.total_monthly_payments}}</p>
    </div>
    {% endfor %}

  </div>

  <div>

    <div class="myDiv" style="width:200px">
    <p class="Box_contents">Gesamtbetrag</p>
    </div>

    {%for x in attributes %}
    <div class="myDiv" style="width:200px">
    <p class="Box_contents">{{x.new_amount}}</p>
    </div>
    {% endfor %}

  </div>

    <div>

    <div class="myDiv" style="width:200px">
    <p class="Box_contents">Kommentar</p>
    </div>

    {%for x in attributes %}
    <div class="myDiv" style="width:200px">
    <p class="Box_contents">{{x.comment}}</p>
    </div>
    {% endfor %}

  </div>

  <div>

    <div class="myDiv" style="width:200px">
    <p class="Box_contents">löschen</p>
    </div>

    {%for x in attributes %}
    <div class="myDiv" style="width:200px">
    <button type="submit" name="löschen" value={{ request.user.member.id }}>löschen</button>
    </div>
    {% endfor %}

  </div>

</div>




{% endif %}
